<div>
  <h2>{{searchTitle}}</h2>
  <div>
    <input type="search" #txtInput (input)="searchWord = txtInput.value" (blur)="search()" >
    <!-- <button
    (click)="search()"
    [disabled]="searchWord.length === 0">Search</button> -->
    <span [hidden]="!isBusy">loading...</span>
  </div>

  <div>
    <h3>Results:</h3>
    <!-- <ul>
      <li *ngFor="let item of results">{{item}}</li>
    </ul> -->
  
    <app-result [list]="results"></app-result>
  </div>
</div>



<!--
  {{}} - tag content
  [] - attribute value
  () - event
-->
